@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #3c3d42;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-bottom: 1rem;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  opacity: 0;
  font-size: 4rem;
  font-family: "Zeyada", cursive;
  vertical-align: middle;
  color: #fff;
  transform: scale(0.1);
  animation: fadeInAndScale 1.5s ease-in-out forwards;
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* MAIN */

.container {
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.result {
  margin-bottom: 0.5rem;
}

.result,
.result-info {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 2rem;
  color: #ffffffef;
}

.result::after,
.result-info::after {
  content: "";
  display: inline-block;
  width: 0;
}

.score_card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  margin: 2rem 0;
}

.score-card:not(:last-child) {
  margin-right: 8rem;
}

.unavailable-sign {
  width: 110px;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.playerIcon {
  width: 70px;
}

.score {
  font-size: 2rem;
  color: #ffffffef;
  margin-top: 1rem;
}

.choice-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score_card-container,
.choice-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.choiceIcon {
  width: 120px;
}

.button {
  width: calc(100% / 3);
  background-color: #2a2a2c;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s, scale 0.3s ease-in-out;
}

.button:hover {
  background-color: #2a2a2cb6;
  transform: translateY(-2px);
}

.button:not(.clicked):hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.509);
}

.button:not(:last-child) {
  margin-right: 4rem;
}

.button-icon {
  width: 150px;
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 370px;
  background-color: #2a2a2c;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.gameResult {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.points {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1rem;
}

.playAgain {
  margin: 2rem 0;
  margin-bottom: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.playAgain:hover {
  background-color: #ffffffc6;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

.overlay.active {
  display: block;
}

/* MEDIA QUERIES */

/* MAX-WIDTH: 640px */

@media screen and (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header {
    margin: 0;
    margin-bottom: 1rem;
  }

  .animate {
    font-size: 3.5rem;
  }

  .result,
  .result-info {
    font-size: 1.8rem;
  }

  .unavailable-sign {
    width: 100px;
  }

  .playerIcon {
    width: 65px;
  }

  .button-icon {
    width: 130px;
  }
}

/* MAX-WIDTH: 550px */

@media screen and (max-width: 550px) {
  .result,
  .result-info {
    font-size: 1.7rem;
  }

  .unavailable-sign {
    width: 90px;
  }

  .choiceIcon {
    width: 110px;
  }

  .playerIcon {
    width: 60px;
  }

  .button-icon {
    width: 120px;
  }

  .gameResult {
    font-size: 2rem;
  }

  .playAgain {
    font-size: 1.6rem;
  }
}

/* MAX-WIDTH: 450px */

@media screen and (max-width: 450px) {
  .animate {
    font-size: 2.8rem;
  }

  .result,
  .result-info {
    font-size: 1.5rem;
  }

  .unavailable-sign {
    width: 80px;
  }

  .choiceIcon {
    width: 100px;
  }

  .playerIcon {
    width: 50px;
  }

  .button-icon {
    width: 100px;
  }

  .gameResult {
    font-size: 1.8rem;
  }

  .playAgain {
    font-size: 1.5rem;
  }

  .button:not(:last-child) {
    margin-right: 2.2rem;
  }

  .modal {
    padding: 2.4rem;
  }

  .playAgain {
    font-size: 1.4rem;
  }
}

/* MAX-WIDTH: 400px */
@media screen and (max-width: 400px) {
  .animate {
    font-size: 2.5rem;
  }

  .result,
  .result-info {
    font-size: 1.3rem;
  }

  .unavailable-sign {
    width: 70px;
  }

  .choiceIcon {
    width: 90px;
  }

  .playerIcon {
    width: 45px;
  }

  .button-icon {
    width: 90px;
  }

  .gameResult {
    font-size: 1.6rem;
  }

  .playAgain {
    font-size: 1.3rem;
  }

  .button:not(:last-child) {
    margin-right: 2rem;
  }

  .modal {
    padding: 2rem;
  }

  .playAgain {
    font-size: 1.2rem;
  }
}


